.wrapper {
  border: 1px solid #E4E4E4;
  background-color: white;
  display: block;
  padding: 16px 16px 16px 16px;
  position: absolute;
  width: 90%;
  z-index: 2;
}

.table {
  width: 100%;
}

.cell {
  border: 1px solid black;
  text-align: center;
  height: 32px;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.titleGrid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
}

.button {
  border: 1px solid #E4E4E4;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.header {
  display: table;
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
}

.header span {
  display: table-cell;
  color: #757575;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.button:hover {
  border: 1px solid #cccccc;
}
