.wrapper {
  background-color: white;
  border: 1px solid #E4E4E4;
  display: block;
  padding: 16px 16px 16px 16px;
  position: absolute;
  width: 90%;
  z-index: 2;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.cell {
  border: 1px solid #E4E7E7;
  color: #484848;
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  text-align: center;
}

.cell:hover {
  background-color: #E4E7E7;
}

.emptyCell {
  composes: cell;
  border: none;
  pointer-events: none;
}

.emptyCell:hover {
  background-color: white;
}

.invalidCell {
  composes: cell;
  color: #E4E7E7;
  pointer-events: none;
  text-decoration: line-through;
}

.invalidCell:hover {
  background-color: white;
}

.selectedCell {
  color: white;
  composes: cell;
  background-color: #00a699;
}

.selectedCell:hover {
  background-color: #00a699;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.titleGrid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
}

.button {
  border: 1px solid #E4E4E4;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.header {
  display: table;
  margin-top: 20px;
  table-layout: fixed;
  width: 100%;
}

.header span {
  display: table-cell;
  color: #757575;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.button:hover {
  border: 1px solid #cccccc;
}
