.container {
  margin-top: 10px;
  padding-bottom: 15px;
  position: relative;
}

.label {
  composes: label from "./pricing.css"
}

.inputContainer {
  border: 1px solid #E4E4E4;
}

.inputBox {
  border: 0px;
  font-size: 17px;
  font-weight: 200;
  margin: 8px 10px;
  width: 110px;
}

.inputBox:focus{
  background-color: rgb(153, 237, 230);
  outline: none;
}

