.wrapper {
  border: 1px solid #E4E4E4;
  border-top: 2px solid #008489;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  background-color: white;
  display: block;
  font-size: 16px;
  padding: 16px 16px 16px 16px;
  position: absolute;
  width: 100% - 1px;
}

.button {
  font-size: 8px;
  border-radius: 50%;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}

.category {
  display: inline-block;
}

.gridContainer {
  align-items: center;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  justify-items: center;
}

.left {
  justify-self: start
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.label {
  font-size: 14px;
  font-weight: 200;
}

.textButton {
  color: #008489;
  cursor: pointer;
  float: right;
}
