.wrapper {
  background-color: white;
  border: 1px solid #E4E4E4;
  border-top: 2px solid #008489;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  display: block;
  font-size: 16px;
  padding: 16px 16px 16px 16px;
  position: absolute;
  width: 100% - 1px;
}

.button {
  border: 1px solid #008489;
  border-radius: 50%;
  color: #008489;
  font-size: 12px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  width: 30px;
}

.gridContainer {
  align-items: center;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 10px 0px 30px 0px;
}

.left {
  justify-self: start;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.label {
  font-size: 14px;
  font-weight: 200;
}

.footer {
  composes: label;
  margin-top: 20px;
}

.textButton {
  color: #008489;
  cursor: pointer;
  float: right;
}
