.wrapper {
  font-size: 14px;
  font-weight: 200;
  color: #484848;
}

.grid {
  border-bottom: 1px solid #DBDBDB;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 10px;
  padding-bottom: 10px;
}

.right {
  margin-left: auto;
}
